body {
  font-family: 'Montserrat';
  background-color: #EBEBEB;
  color: #4E4D50;
  font-size: 20px;
  line-height: 15px;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #8C898F;
  font-size: 46px;
}

h2 {
  font-family: 'Droid Serif', serif;
  line-height: 56px;
  color: #424043;
}

a {
  color: #323133;
  text-decoration: none;
  cursor: auto;
}

p {
  line-height: 20px;
}

table {
  border-spacing: 10px;
}

#profileimg {
  width: 200px;
  border-radius: 150px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

#website {
  color: #fff;
  font-weight: bold;
  background: #999;
  border-radius: 5px;
  padding: 5px;
}

.sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.sidebar li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


.list-inline {
  display: inline;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 10px;
}

.list-inline > li {
  display: inline-block;
  width: 10px;
  padding: 5px 10px;
  margin-right: 100px;
  text-decoration: none;
}

.container {
  width: 1000px;   /* Set width */
  margin: 0 auto; /* Automatically set left/right margins */
}

.card {
  text-align: center;
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 5px;                         /* Small radius */
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
              -1px 2px 20px rgba(255, 255, 255, 0.6) inset;  /* Subtle shadow */
  border: 25px;
  margin-bottom: 15px;
}
